.acquisitions h3{
    position: absolute;
    width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
}

.acquisitions img{
    width: 100%;
    z-index: -1;
    page-break-after: always;
}

.acquisitions > div{
    column-count: 3;
}

.acquisitions .artsheet{
    break-inside: avoid-column;
    margin-bottom: 13pt;
}

.acquisitions .artsheet .number{
    font-family: "Big Daily";
    font-weight: 900;
    font-style: italic;
}

.acquisitions .artsheet .author{
    font-weight: 800;
}

.acquisitions .artsheet .title{
    font-weight: 600;
}

.acquisitions p{
    text-indent: 0;
    text-align: center;
    hyphens: none;
}

.acquisitions .title{
    margin-bottom: 13pt;
}