div.chiffres{
    page-break-before: always;
    page-break-after: always;
    height: 270mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.chiffres {
    display: none;
}

.chiffres p{
    width: calc(var(--column-width) * 5 + var(--gutter-width) * 4);
    margin-bottom: 1em;
    text-align: center;
    text-indent: 0;
}

.chiffres strong{
    /* margin-left: 27.7mm;
    width: 79.1mm; */
    display: block;
    font-weight: 900;
}

.chiffres strong span{
    font-family: "Fana";
}