@media print{

    @page{
        size: A4;
        bleed: 6mm; 
        marks: crop;
        @bottom-center{
            content: counter(page);
        }
    }

    @page:left {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 12mm;
        margin-right: 8mm;
      }
      
      @page:right {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 8mm;
        margin-right: 12mm;
      }
    
}

body{

}

h1{
    font-family: "Fana";
    font-size: 51pt;
    line-height: 54pt;
    page-break-before: always;
    page-break-after: always;
    width: 100%;
    word-break: break-all;
}

h2{
    font-family: "Big Daily";
    font-weight: 900;
    font-style: italic;
    font-size: 46pt;
    line-height: 39pt;
    text-align: center;
    page-break-before: always;
    page-break-after: always;
    margin: 0;
}

h3, h4, h5{
    font-size: 9pt;
    line-height: 13pt;
    width: 106.86mm;
    margin: 13pt 0;
}

h3{
    font-family: "Area Web";
    font-weight: 800;
    text-transform: uppercase;
}

h4{
    font-family: "Area Web";
    font-weight: 700;
    text-decoration: underline;
}

h5{
    font-family: "Area Web";
    font-weight: 400;
}

.textblock{
    width: 106.86mm;
    margin-bottom: 13pt;
}

.textblock p:first-of-type{
    text-indent: 0;
}

p{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    text-indent: 8mm;
}

hr {
    border: 0;
    page-break-after: always;
}

ul{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    width: 106.86mm;
}

.block p:first-child{
    text-indent: 0;
}

#image{
    max-width: 100%;
}

/* Tableaux */

.table table{
    font-family: "Area Web";
    font-size: 7pt;
    line-height: 9pt;
    border-collapse: collapse;
}

table *{
    border-spacing: 0;
}

th{
    font-weight: 800;
}

th, td{
    text-align: left;
    vertical-align: top;
    padding: 0;
}

td{
    padding: 0.5em 0;
    border-top: 1px solid black;
}

td:empty{
    border: 0 !important;
}

tr td:first-of-type{
    font-weight: 800;
}

tr td:not(:last-child){
    padding-right: 4mm;
}

tr th:last-child{
    text-align: right;
}

tr:last-child td{
    font-weight: 800;
    padding-top: 2em;
    border-bottom: 1px solid black;
}

.t-col-5 tr td:first-of-type{
    width: 27.7mm;
}

.t-col-5 tr td:nth-of-type(2){
    width: 79.2mm;
}

.t-col-5 tr td:nth-of-type(3){
    width: 27.7mm;
}

.t-col-5 tr td:nth-of-type(4){
    width: 37.3mm;
}

.t-col-5 tr td:last-of-type{
    width: 18.1mm;
    text-align: right;
}

.t-col-5b tr td:first-of-type{
    width: 27.7mm;
}

.t-col-5b tr td:nth-of-type(2){
    width: 79.2mm;
}

.t-col-5b tr td:nth-of-type(3){
    width: 27.7mm;
}

.t-col-5b tr td:nth-of-type(4){
    width: 37.3mm;
}

.t-col-5b tr td:last-of-type{
    width: 18.1mm;
    text-align: right;
}

.t-col-5b tr td:last-of-type{
    display: flex;
    justify-content: space-between;
}

/** Columns classes **/

/* Columns left position */

.pos-1{
    margin-left: 0;
}
.pos-2{
    margin-left: 27.71mm;
}
.pos-3{
    margin-left: 55.43mm;
}
.pos-4{
    margin-left: 83.19mm;
}
.pos-5{
    margin-left: 110.85mm;
}
.pos-6{
    margin-left: 138.57mm;
}
.pos-7{
    margin-left: 166.29mm;
}

/* Columns width */

.col-1{
    width: 23.71mm;
}
.col-2{
    width: 51.43mm;
}
.col-3{
    width: 79.14mm;
}
.col-4{
    width: 106.86mm;
}
.col-5{
    width: 134.57mm;
}
.col-6{
    width: 162.33mm;
}
.col-7{
    width: 190mm;
}