@import "variables.css";
@import "tables.css";
@import "chiffres.css";

/* Page properties */

@media print{
    @page{
        size: A4;
        bleed: 6mm;
        marks: crop;
        @bottom-center{
            content: counter(page);
            font-family: "Big Daily";
            font-style: italic;
            font-size: 9pt;
        }
    }

    @page:left {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 12mm;
        margin-right: 18mm;
      }
      
      @page:right {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 18mm;
        margin-right: 12mm;
      } 
}

/* Headers */


h1{
    font-family: "Fana";
    font-size: 51pt;
    line-height: 54pt;
    page-break-before: always;
    page-break-after: always;
    width: 100%;
    word-break: break-all;
}

h2{
    font-family: "Big Daily";
    font-weight: 900;
    font-style: italic;
    font-size: 46pt;
    line-height: 39pt;
    text-align: center;
    page-break-before: always;
    page-break-after: always;
    margin: 0;
}

h3, h4, h5{
    font-size: 9pt;
    line-height: 13pt;
    margin: 13pt 0;
}

h3{
    font-family: "Area Web";
    font-weight: 800;
    text-transform: uppercase;
}

h4{
    font-family: "Area Web";
    font-weight: 700;
    text-decoration: underline;
}

h5{
    font-family: "Area Web";
    font-weight: 400;
}

/* Floating elements */

h3{
    width: calc(var(--column-width) * 3 + var(--gutter-width) * 2);
}

h4, figure{
    float: inline-start;
    clear: left;
    width: calc(var(--column-width) * 3 + var(--gutter-width) * 2);
}

.textblock > p, .textblock > ul, h5{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 3);
    width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
}

/* Paragraphes */

.textblock{
    /* margin-left: calc((var(--column-width) + var(--gutter-width)) * 3); */
    margin-bottom: 13pt;
}

.textblock p:first-of-type{
    text-indent: 0;
}

p{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    text-indent: 8mm;
    text-align: justify;
    hyphens: auto;
    hyphenate-limit-chars: 10;
}

/* Images */

figure{
    position: relative;
    margin: 13pt 0 13pt 0;
}

figure img{
    width: 100%;
}

figcaption{
    font-family: "Big Daily";
    font-weight: 200;
    font-size: 9pt;
    line-height: 13pt;
    width: calc(var(--column-width) * 2 + var(--gutter-width));
}

/* Saut de ligne */

hr {
    border: 0;
    page-break-after: always;
}

/* Listes */

ul{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    width: 100%;
    padding: 0;
}

ul li{
    list-style: inside;
}

ul li p{
    display: inline;
}

/* Columns */

.pagedjs_area{
    /* background-image: url("../images/fond-grille.png"); */
    background-size: cover;
}

/* .pos-1{
    margin-left: 0;
}
.pos-2{
    margin-left: calc(var(--column-width) + var(--gutter-width));
}
.pos-3{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 2);
}
.pos-4{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 3);
}
.pos-5{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 4);
}
.pos-6{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 5);
}
.pos-7{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 6);
} */

/* Columns width */

/* .col-1{
    width: var(--column-width);
}
.col-2{
    width: calc(var(--column-width) * 2 + var(--gutter-width));
}
.col-3{
    width: calc(var(--column-width) * 3 + var(--gutter-width) * 2);
}
.col-4{
    width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
}
.col-5{
    width: calc(var(--column-width) * 5 + var(--gutter-width) * 4);
}
.col-6{
    width: calc(var(--column-width) * 6 + var(--gutter-width) * 5);
}
.col-7{
    width: var(--page-width);
} */