@import "variables.css";
@import "tables.css";
@import "chiffres.css";
@import "preamble.css";
@import "communes.css";
@import "acquisitions.css";
@import "list.css";
@import "sommaire.css";

/* Page properties */

@media print{
    @page{
        size: A4;
        bleed: 6mm;
        marks: crop;
        @bottom-center{
            content: counter(page);
            font-family: "Big Daily";
            font-style: italic;
            font-size: 9pt;
        }
    }

    @page:left {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 12mm;
        margin-right: 18mm;
      }
      
      @page:right {
        margin-top: 8mm;
        margin-bottom: 23mm;
        margin-left: 18mm;
        margin-right: 12mm;
      } 
}

/* Headers */

div.cover{
    page-break-before: always;
    page-break-after: always;
}

pre{
    font-family: "Fana";
    font-size: 49pt;
    line-height: 54pt;
    width: 100%;
    margin: 0;
}

h2{
    font-family: "Big Daily";
    font-weight: 900;
    font-style: italic;
    font-size: 46pt;
    line-height: 39pt;
    text-align: center;
    margin: 0;
}

h3, h4, h5{
    font-size: 9pt;
    line-height: 13pt;
    margin: 13pt 0;
}

h3{
    font-family: "Area Web";
    font-weight: 800;
    text-transform: uppercase;
}

h4{
    font-family: "Area Web";
    font-weight: 700;
    text-decoration: underline;
}

h5{
    font-family: "Area Web";
    font-weight: 400;
}

/* Paragraphs */

.textblock{
    width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
    margin-bottom: 13pt;
}

.textblock p:first-of-type{
    text-indent: 0;
}

p{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    text-indent: 8mm;
    text-align: justify;
    hyphens: auto;
    hyphenate-limit-chars: 10;
}

/* Listes */

ul{
    font-family: "Area Web";
    font-size: 9pt;
    line-height: 13pt;
    font-weight: 400;
    margin: 0;
    width: 100%;
    padding: 0;
}

ul li{
    list-style: inside;
}

ul li p{
    display: inline;
}

/* Images */

figure{
    position: relative;
    margin: 13pt 0 13pt 0;
}

figure img{
    width: 100%;
}

figcaption{
    font-family: "Big Daily";
    font-weight: 200;
    font-size: 9pt;
    line-height: 13pt;
    position: absolute;
    bottom: 0;
    left: calc(100% + var(--gutter-width));
    width: calc(var(--column-width) * 2 + var(--gutter-width));
}

.pos-2 figure{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * -1);
}

.pos-3 figure{
    margin-left: calc(((var(--column-width) + var(--gutter-width)) * 2) * -1);
}

.pos-4 figure{
    margin-left: calc(((var(--column-width) + var(--gutter-width)) * 3) * -1);
}

/* Page breaks */

hr {
    border: 0;
    page-break-after: always;
}

/** Columns classes **/

/* Columns x-position */

.pagedjs_area{
    background-image: url("../images/fond-grille.png");
    background-size: cover;
}

.interface-preview .pagedjs_area{
    background-image: none;
}

.pos-1{
    margin-left: 0;
}
.pos-2{
    margin-left: calc(var(--column-width) + var(--gutter-width));
}
.pos-3{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 2);
}
.pos-4{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 3);
}
.pos-5{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 4);
}
.pos-6{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 5);
}
.pos-7{
    margin-left: calc((var(--column-width) + var(--gutter-width)) * 6);
}

/* Columns width */

.col-1{
    width: var(--column-width);
}
.col-2{
    width: calc(var(--column-width) * 2 + var(--gutter-width));
}
.col-3{
    width: calc(var(--column-width) * 3 + var(--gutter-width) * 2);
}
.col-4{
    width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
}
.col-5{
    width: calc(var(--column-width) * 5 + var(--gutter-width) * 4);
}
.col-6{
    width: calc(var(--column-width) * 6 + var(--gutter-width) * 5);
}
.col-7{
    width: var(--page-width);
}

/* Cover image */

.cover figure{
    position: absolute;
    top: -19mm;
    left: -18mm;
    width: 216mm;
    height: 310mm;
    z-index: -1;
    page-break-after: always;
    background-color: yellowgreen;
}

.cover figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}